* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-image: url("/challenge/starter/images/light\ grey\ tech\ background\ image.avif");
  /* object-fit: cover; */ /* to make the image cover the entire page? */ 
  
}

nav{
  width: 100%;
  height: 150px;
  line-height: 75px;
  padding: 50px;
  background-image: linear-gradient(#56575b,#f7f4ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  padding: 75px;
  padding-bottom: 45px;

}
nav ul{
  float: right;

}
nav li{
  display: inline-block;
  list-style: none;
}
nav li a{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: white;
  text-decoration: none;

}

.hero-banner {
background-image: url("/challenge/starter/images/Low\ code\ screen_banner_desktop.webp"); 
height: 400px;
background-size: cover;
background-repeat: no-repeat;


} */

.Aboutsec{
  height: 500px;
  background-color:rgba(148, 141, 141, 0.404)

}
#about{
font-size: 50px;
justify-content:center;
display: flex;

}

#circle {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border-color: black;
  border-style: double;
  margin-left: 10%;
  bottom: 5%;
  position:relative;

}

#about-text{
display:flex;
justify-content: center;
font-size: 25px;
text-align: center;
text-wrap: wrap;

}


.flex-container{
display: flex; 
flex-direction: column;
/* width: 100%; */
height: 1000px; 
padding: 10px;
flex-wrap:wrap; 



}
.flex-item{

flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-repeat: no-repeat;

}


/*
.refactor{
  height: 150%;
  
}

.refactor-challenge > h3 {
  flex-basis: 20%;
  border-right: 4px solid papayawhip;
  
}
*/
.refactor-challenge {
  background-image: url("/challenge/starter/images/Code\ Refactoring.png");
  height: 30%;
  background-repeat: no-repeat;
  width: 120%;

  
}

.bootstrap{
  background-image: url("/challenge/starter/images/bootstrap-5.0-illustration.png");
  height: 30%;
  
}

.javascript{
  background-image: url("/challenge/starter/images/java-script.jpeg");
  height: 30%;
}

.javascript-skills{
  background-image: url("/challenge/starter/images/thumb-rest-api.jpg");
  height: 30%;
}

.page-section {
  display: flex;
  justify-content: center;



}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
