* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
}

nav{
  width: 100%;
  height: 150px;
  line-height: 75px;
  padding: 50px;
  background-image: linear-gradient(#eef1f2,#a7aaac);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  padding: 75px;

}
nav ul{
  float: right;

}
nav li{
  display: inline-block;
  list-style: none;
}
nav li a{
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: white;
  text-decoration: none;

}

/* .hero-banner {
background-image: url("../images/02-portfolio-3.jpg"); 
height: 400px;
background-size: cover;
background-repeat: no-repeat;


} */

.Aboutsec{
  height: 500px;
  background-color: #555;

}
#about{
font-size: 50px;
justify-content:center;
display: flex;

}

#circle {
  height: 400px;
  width: 350px;
  border-radius: 50%;
  margin-left: 10%;
  bottom: 5%;
  position:relative;
  /* display: flex; */
  /* padding: 20%; */
  

}
.flex-container{
display:flex;
flex-wrap: wrap;
justify-content: center;


}
.flex-item{
background-color: black;
width: 30%;
height: 50%;

}


.refactor{
  height: 150%;
  

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
